$alike-color-white: #ffffff !default;
$alike-color-default:#F8F8F8 !default;
$alike-color-primary:#0099FF !default;
$alike-color-success:#66C666 !default;
$alike-color-fail:#F66666 !default;
$alike-color-warn:#F99966 !default;
$alike-color-info:#909099 !default;
$alike-color-disabled:#E8E8E8 !default;